# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Django stuff:
*.sqlite3
db.sqlite3
/static/
media/

# VS Code or other IDEs
.vscode/
.idea/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
